html, body {
    box-sizing: border-box;
    background: #0099ff;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 20px;
  }
  
  input {
    width: 100%;
    padding: 20px;
  }
  
  .header {
    margin: 50px;
  }

  .search-bar {
    max-width: 400px;
    margin: 50px;
  }
     
  .suggestions li {
    background: #ffa600;
    list-style: none;
    border-bottom: 1px solid #D8D8D8;
    margin: 10px;
    padding: 5px;
  }
  
  span.name {
    font-size: 20px;
  }

  span.address {
    font-size: 15px;
  }

  span.category {
    font-size: 15px;
  }

  span.inspection {
    font-size: 15px;
  }